/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Barra de navegación */
.navbar {
    background-color: #333;
    padding: 15px;
}

.navbar a {
    color: #87CEEB; /* Celeste */
    text-decoration: none;
    font-size: 50px;
}

/* Contenedor de las tarjetas con Flexbox */
.cards-container {
    display: flex;
    justify-content: space-between; /* Distribuye las tarjetas a los lados */
    padding: 20px;
}

/* Estilo de las tarjetas */
.card {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 45%; /* Hace que ambas tarjetas ocupen un 45% del ancho del contenedor */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Ajustamos el tamaño del título a 34px */
.card h3 {
    color: #333;
    font-size: 34px; /* Título en 34px */
    margin-top: 10px;
}

/* Pie de página */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
